<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PortalMusica_V1</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>PrincipalEmpresa.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PrincipalEmpresa</display-name>
    <servlet-name>PrincipalEmpresa</servlet-name>
    <servlet-class>gft.curso.principalempresa.PrincipalEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrincipalEmpresa</servlet-name>
    <url-pattern>/PrincipalEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevaCancion</display-name>
    <servlet-name>NuevaCancion</servlet-name>
    <servlet-class>gft.curso.formcancion.NuevaCancion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevaCancion</servlet-name>
    <url-pattern>/NuevaCancion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarCancion</display-name>
    <servlet-name>EliminarCancion</servlet-name>
    <servlet-class>gft.curso.formcancion.EliminarCancion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarCancion</servlet-name>
    <url-pattern>/EliminarCancion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertarCancion</display-name>
    <servlet-name>InsertarCancion</servlet-name>
    <servlet-class>gft.curso.operacionesempresario.InsertarCancion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertarCancion</servlet-name>
    <url-pattern>/InsertarCancion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InicioSesion</display-name>
    <servlet-name>InicioSesion</servlet-name>
    <servlet-class>com.tienda.musica.InicioSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioSesion</servlet-name>
    <url-pattern>/InicioSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalSesion</display-name>
    <servlet-name>InvalSesion</servlet-name>
    <servlet-class>com.tienda.musica.InvalSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalSesion</servlet-name>
    <url-pattern>/InvalSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaEmpresa</display-name>
    <servlet-name>AltaEmpresa</servlet-name>
    <servlet-class>com.tienda.musica.AltaEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaEmpresa</servlet-name>
    <url-pattern>/AltaEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaClient</display-name>
    <servlet-name>AltaClient</servlet-name>
    <servlet-class>com.tienda.musica.AltaClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaClient</servlet-name>
    <url-pattern>/AltaClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciaCliente</display-name>
    <servlet-name>IniciaCliente</servlet-name>
    <servlet-class>com.backend.IniciaCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciaCliente</servlet-name>
    <url-pattern>/IniciaCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearLista</display-name>
    <servlet-name>CrearLista</servlet-name>
    <servlet-class>gft.curso.operacionesempresario.CrearLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearLista</servlet-name>
    <url-pattern>/CrearLista</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ModificaLista</display-name>
    <servlet-name>ModificaLista</servlet-name>
    <servlet-class>com.acciones.ModificaLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaLista</servlet-name>
    <url-pattern>/ModificaLista</url-pattern>
  </servlet-mapping>
</web-app>