@CHARSET "ISO-8859-1";

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:30px;
    width:100%;
    float:top;
    padding:5px; 
    padding-bottom:10px;
    text-align:center;
}

#main {
    height:100%;
    padding:10px;
    min-height:680px;
}

#main div.menu{
	border-style: solid;
    border-width: 1px;
    float: left;
    width: 30%;
    height: 400px;
    margin: 5px;
    margin-left:15%;
    margin-right:10%;
    margin-top:5%;
}

#main div.info{
	border-style: solid;
    border-width: 1px;
    float: top;
    width: 30%;
    height: 400px;
    margin: 5px;
    margin-left:55%;
    margin-top:5%;
    top:5px;
}

#main div.info>#imgNotaMusical{
	width: 90%; 
	height: 350px;
}

#main div.menuEliminar{
	border-style: solid;
    border-width: 1px;
    float: left;
    width: 65%;
    height: 400px;
    margin: 5px;
    margin-left:15%;
    margin-right:10%;
    margin-top:5%;
    overflow: auto;
}

#main div.listaCanciones  {
    margin: 0;
    padding: 0;
    text-align: center;
   
}

#main div.listaCanciones ul {
    list-style-type: none;
    text-align:center;
}

#main div.listaCanciones li {
    background-color: white;
    display: inline;
    float: left;
    margin: 10px;
}
#main div.listaCanciones li a.list-item{
    height: 75px;
    text-align: center;
    width:75px;

}

#main div.menu #tablaMenu{
	margin-left: 15px;
}

#main div.menu #tablaMenu tr td{
	text-align: left;
}
#main div.info #tablaInfo{
	margin-left: 75px;
}
#footer {
	width:100%;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
}

.ac_results {
	padding: 0px;
	border: 1px solid #84a10b;
	background-color: #84a10b;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	color: #fff;
	font-family:verdana;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;

}


.ac_odd {
	background-color: #84a10b;
	color: #ffffff;
}

.ac_over {
	background-color: #5a6b13;
	color: #ffffff;
}


.input_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #84a10b;
	padding:2px;
	width:150px;
	color:#000;
	padding-left:17px;
}