@CHARSET "ISO-8859-1";

/* ESTILO GENERAL, DIVS PRINCIPALES */
@font-face {
	font-family: titulo;
	src: url('../fonts/timeportal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: header;
	src: url('../fonts/crash test.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#header {
	border: 2px solid;
	border-color: black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #033649;
	color: white;
	text-align: center;
	height: 150px;
	margin-bottom: 0px;
}

#header img {
	float: left;
	margin-top: 25px;
	margin-left: 25px;
	width: 150px;
	height: 130px;
}

#header h1 {
	font-family: titulo;
	color: #EEEE99;
	float: left;
	margin-top: 6%;
	margin-left: 25px;
	font-size: 70px;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #FFAA00;
}




#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:30px;
    width:100%;
    float:top;
    padding:5px; 
    padding-bottom:10px;
    text-align:center;
}

#main {
    height:100%;
    padding:10px;
    min-height:680px;
}

#main div.menu{
	border-style: solid;
    border-width: 1px;
    float: left;
    width: 35%;
    height: 500px;
    margin: 5px;
    margin-left:15%;
    margin-right:10%;
    margin-top:5%;
}

#main div.info{
	border-style: solid;
    border-width: 1px;
    float: top;
    width: 30%;
    height: 400px;
    margin: 5px;
    margin-left:55%;
    margin-top:5%;
    top:5px;
}

#main div.info>#imgNotaMusical{
	width: 90%; 
	height: 350px;
}

#main div.menuEliminar{
	border-style: solid;
    border-width: 1px;
    float: left;
    width: 65%;
    height: 400px;
    margin: 5px;
    margin-left:15%;
    margin-right:10%;
    margin-top:5%;
    overflow: auto;
}

#main div.listaCanciones  {
    margin: 0;
    padding: 0;
    text-align: center;
   
}

#main div.listaCanciones ul {
    list-style-type: none;
    text-align:center;
}

#main div.listaCanciones li {
    background-color: white;
    display: inline;
    float: left;
    margin: 10px;
}
#main div.listaCanciones li a.list-item{
    height: 75px;
    text-align: center;
    width:75px;

}

#footer {
	width:100%;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
}

#modificar {
	margin-top:20%;
	margin-left:30%;
    
}
#borrar {
	margin-top:20%;
	margin-left:50%;
    
}